<head>
    <meta charset="UTF-8">
     <title> Crawling Blooming Cubs </title> 
</head>
<body>
  <nav>
    <div class="nav-content">
      <div class="logo">
        <button id="sideNavToggle" class="sideNavButton" >☰</button>
        <a href="#">CBC</a>
      </div>
      <ul class="nav-links">
        <button (click)="toggleForm()">Add Students</button>
        <!-- <li><a routerLink="/student-form" >Add Students</a></li> -->
        <li><a >Students</a></li>
        <li><a href="#">Add Teachers</a></li>
        <li><a href="#">Teachers</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
</body>