<mat-toolbar color="primary" class="blockcode fixed-bottom">
    <span class="example-spacer"></span>
    <small class="ml-2">&copy; Made with love. Powered by 02 Solutions, 2023. All rights reserved.</small>
    <div class="flex">
      <button class="btn mr-2">
        <i class="fa fa-facebook"></i>
      </button>
      <button class="btn mr-2">
        <i class="fa fa-twitter"></i>
      </button>
      <button class="btn mr-2">
        <i class="fa fa-instagram"></i>
      </button>
    </div>
    <span class="example-spacer"></span>
  </mat-toolbar>